.wechat{
    position: relative;
    border-style: solid;
    height: 87vh;
    width: 66vw;
    left:20vw;
    top:5vh;
    background-color:rgb(245,245,245);
}
.wechat-head{
    border-style:solid;
    height:9vh;
    width:65.7vw;
    position: fixed;
}
.wechat-demo{
    position: relative;
    left:291px;
    border-style: solid;
    height: 52vh;
    width: 43vw;
    top:9.5vh;
}
.wechat-input{
    position: relative;
    left:291px;
    border-style: solid;
    border-color: black;
    top:9vh;
    height: 25vh;
    width: 43vw;
}
.wechat-input>textarea{
    width:43vw;
    height:18vh;
    background-color:rgb(245,245,245);
}
.wechat-input>input{
    position: relative;
    left:32vw;
    top:2vh;
}

.wechat-people{
    border-style: solid;
    border-color:yellow;
    position:fixed;
    left:21vw;
    top:16.7vh;
    width:285px;
    height:440px;
}

.information{
    border-style: solid;
    margin:0%;
    cursor:pointer;
}
.information>li{
    display:inline;
}
.information>li>img{
    position:relative;
    margin:0%;
    top:2px;
    left:-20px;
    width:30px;
    padding-top:0px;
}
.con{
    position: relative;
    top:-7px;
    left:10px;
}
.wechat-head>ul>li{
    display: inline;
    position: relative;
    left:450px;
    top:-10px;
    font-size: 180%;
}
