<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery.min.js"></script>
    <style>

    </style>
</head>
<body>
    <!-- paragraph -->
    <h1>用户协议事项</h1>
    <p><b>重要提示： 请您仔细阅读以下条款，并确认您已完全理解本协议之规定，尤其是免除及限制责任的条款、知识产权条款、法律适用及争议解决条款。</b></p>
    <p>如您对本声明或本协议任何条款有异议，请停止注册或使用本购物平台软件及所提供的全部服务。</p>
    <p>Copyright：腾讯公司员工<u>philipzheng</u></p>
</body>

</html>
