{% load static %}

<head>
    <link rel="shortcut icon" href="http://47.94.12.24:8000/static/image/log/favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{%  static 'css/loginto/log.css' %}">
    <link rel="stylesheet" href="{%  static 'css/loginto/base.css' %}">
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="w">
        <!-- header -->
        <div class="header">
            <div class="logo">
                <img src="http://47.94.12.24:8000/static/image/log/nwu.jpg" alt="">
            </div>

        </div>
        <!-- registerarea -->
        <div class="registerarea">
            <h3>
                用户登录
                <em>
                    我没有账号，去<a href="http://47.94.12.24:8000/register">注册</a>
                </em>
            </h3>
            <div class="reg_form">

                <div class="demo.php">
                    <ul>
                        <li class="login-name">
                            <label for="">用户名:</label>
                            <input type="text" class="inp" id="nc">
                        </li>
                        <li class="login-password">
                            <label for="">密码:</label>
                            <input type="password" class="inp" id="pwd">
                        </li>
                        <li class="agree">

                            <input type="checkbox">同意相关协议
                            <a href="http://47.94.12.24:8000/ano/">《用户协议》</a>
                        </li>
                        <li class="login-part">
                            <input type="submit" value="登录" class="over">
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer">
            <p class="links">
            关于我们 | 联系我们 | 联系客服 | 商家入驻 | 营销中心 | 友情链接 | 销售联盟 | 用户社区 | 用户公益 | English Site | Contact U
            </p>

            <p class="copyright">
            地址：陕西省西安市长安区学府大道1号 邮编：100000 电话：123-456-7890 传真：010-0000000 邮箱: philipzheng@tencent.com <br> 京ICP备08001421号京公网安备110108007702
            </p>
        </div>
    </div>   
    <script>
        $(function(){
            $(".login-part input").click(function(){
                var username = $("#nc").val();
                var password = $("#pwd").val();
                let outer = this;
                $.ajax({
                    url: "http://47.94.12.24:8000/settings/loginto/",
                    type: "GET",
                    data: {
                        username: username,
                        password: password,
                    },
                    success: function(resp){
                        console.log(resp);
                        if(resp.result === "success"){
                            self.location="http://47.94.12.24:8000/mainpage";
                        }
                        else{
                            alert("用户名或密码不正确");
                        }
                    }
                });
            });
        });
    </script>
</body>

