{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/sccss/style.css' %}">
    <script src="{% static 'scjs/jquery.min.js' %}"></script>
</head>

<body>
    <div class="wechat">
        <div class="wechat-head">
        </div>
        <div class="wechat-demo" id="message">

        </div>
        <div class="wechat-input">
            <textarea id="txt" type="text" placeholder="请输入..." maxlength="30"></textarea>
            <input type="button" value="发送(S)" onclick="sendMessage()">
            <input type="button" value="关闭连接" onclick="closeConn()">
        </div>
        <div class="wechat-people">
        </div>
    </div>
    <script>
        socket = new WebSocket("ws://47.94.12.24:8000/room/{{ qq }}/");

        socket.onopen = function(event){
            let tag = document.createElement("div");
            tag.innerText = "[连接成功]";
            document.getElementById("message").appendChild(tag);
        }
        socket.onmessage = function(evecnt){
            let tag = document.createElement("div");
            tag.innerText = event.data;
            document.getElementById("message").appendChild(tag);

        }

        socket.onclose = function(event){
            let tag = document.createElement("div");
            tag.innerText = "[断开连接]";
            document.getElementById("message").appendChild(tag);
        }
        function sendMessage(){
            let tag = document.getElementById("txt");
            socket.send(tag.value);
        }

        function closeConn(){
            socket.close();
        }
    </script> </script>
</body>
