{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/sccss/style.css' %}">
    <script src="{% static 'scjs/jquery.min.js' %}"></script>
    <script src="{% static 'scjs/getinfo.js' %}"></script>
    <script src="{% static 'scjs/chat.js' %}"></script>
</head>

<body>
    <div id="shopcar">
    </div>
    <div class="wechat">
        <div class="wechat-head">
            <ul><li></li></ul>
        </div>
        <div class="wechat-demo" id="message">

        </div>
        <div class="wechat-input">
            <textarea id="txt" type="text" placeholder="请输入..." maxlength="30"></textarea>
            <input type="button" value="发送(S)" onclick="sendMessage()">
            <input type="button" value="关闭连接" onclick="closeConn()">
        </div>
        <div class="wechat-people">
        </div>
    </div>
    <script>
        socket = new WebSocket("ws://47.94.12.24:8000/room/{{ qq }}/");

        socket.onopen = function(event){
            let tag = document.createElement("div");
            tag.innerText = "[连接成功]";
            document.getElementById("message").appendChild(tag);
        }
        socket.onmessage = function(evecnt){
            let tag = document.createElement("div");
            tag.innerText = event.data;
            document.getElementById("message").appendChild(tag);

        }

        socket.onclose = function(event){
            let tag = document.createElement("div");
            tag.innerText = "[断开连接]";
            document.getElementById("message").appendChild(tag);
            self.location="http://47.94.12.24:8000/mainpage";
        }
        function sendMessage(){
            let tag = document.getElementById("txt");
            socket.send(tag.value);
        }

        function closeConn(){
            socket.close();
        }

        function func(idd){
            var name = document.getElementById(idd).innerText;
            $(".wechat-head>ul>li").text(name);
            var a = $("#nm0").text();
            var a1= $("#ft0").attr('src');
            var b = $("#"+idd).text();
            var b1= $("#ft"+idd[2]).attr('src');
            $("#nm0").text(b);
            $("#"+idd).text(a);
            $("#ft0").attr('src',b1);
            $("#ft"+idd[2]).attr('src',a1);
            var ThisURL = "http://47.94.12.24:8000/?qq="+name;
            var state = {
                title: document.title,
                url: document.location.href,
                otherkey: null
            };
            history.replaceState(state,document.title,ThisURL);
        }
    </script>
</body>
